html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.vinyl-img {
  height: 100%;
  width: 60%;
}
#album-list {
  padding-left: 150px;
  padding-right: 150px;
}
.album-list-title {
  display: inline-block;
}

.new-button{
  display: inline-block;
}
